<div class="panel panel-default">
  <div class="panel-heading"><h4>Edit Pin</h4></div>
  <div class="panel-body">

	<%= render 'form' %>

	<%= link_to 'Show', @pin %> |
	<%= link_to 'Back', pins_path %> |
	<%= link_to 'Delete', @pin, method: :delete, data: { confirm: 'Are you sure?' } %>

</div>
</div>